@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("☺"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Gilroy";
  background-color: #ffffff;
  font-size: 18px;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

a {
  color: #828282;
}

a:active {
  position: relative;
  top: 1px;
}

h1 {
  font-size: 47px;
  font-weight: bold;
  display: table-caption;
}

h2 {
  font-size: 34px;
  line-height: 42px;
  font-weight: bold;
}

.wrapper {
  overflow: hidden;
}

.conteiner {
  max-width: 985px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .conteiner {
    max-width: 316px;
  }
}

.lang {
  font-size: 16px;
  line-height: 20px;
  position: relative;
  bottom: 8px;
}

.lang span {
  font-weight: bold;
}

.lang__ru_active {
  font-weight: bold;
  color: #070707;
}

.lang__eng_active {
  font-weight: bold;
  color: #070707;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: absolute;
    top: 68px;
    right: 30px;
    width: 33px;
    height: 20px;
    z-index: 2;
  }
  .header__burger:after, .header__burger:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 4px;
    background-color: #070707;
  }
  .header__burger::after {
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 8px;
    height: 4px;
    background-color: #070707;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger_active::after, .header__burger_active::before {
    background-color: #828282;
  }
  .header__burger_active::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
  }
  .header__burger_active::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8px;
  }
  .header__burger_active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (max-width: 767px) {
  .header__menu {
    padding: 68px 0 0 0;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    right: -100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__menu_active {
    right: 0;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 25px 0;
}

.header__list:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0px;
  background-color: #828282;
}

@media (max-width: 1025px) {
  .header__list {
    padding: 2.6455% 0;
  }
}

@media (max-width: 767px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 28px;
    margin: 0 0 150px 0;
  }
  .header__list::before {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__link {
    margin: 0 0 60px 0;
  }
}

@media (max-width: 767px) {
  .header__link a {
    font-size: 34px;
  }
}

.header__link_active {
  font-weight: bold;
}

.header__link_active a {
  color: #070707;
}

.header__lang {
  display: none;
}

@media (max-width: 767px) {
  .header__lang {
    display: block;
    text-align: right;
    font-size: 34px;
    padding: 0 28px;
  }
  .header__lang a:active {
    position: relative;
    top: 0;
    left: 1px;
  }
}

@media (max-width: 767px) {
  .header__rotate {
    display: inline-block;
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    position: relative;
    right: 28px;
  }
}

.top {
  padding: 60px 0 105px 0;
}

@media (max-width: 1025px) {
  .top {
    padding: 5.85938% 0 10.25391% 0;
  }
}

@media (max-width: 767px) {
  .top {
    padding: 50px 0 83px 0;
  }
}

.top__row {
  padding: 40px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1025px) {
  .top__row {
    padding: 4.2328% 0 5.29101% 0;
  }
}

@media (max-width: 767px) {
  .top__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.top__title {
  line-height: 59px;
}

@media (max-width: 767px) {
  .top__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.top__subtitle {
  line-height: 22px;
  position: relative;
  bottom: 8px;
}

@media (max-width: 767px) {
  .top__subtitle {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 23px 0 0 0;
  }
}

.top__lang {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  position: relative;
  left: 62px;
}

.top__lang a:active {
  position: relative;
  top: 0;
  right: 1px;
}

@media (max-width: 767px) {
  .top__lang {
    display: none;
  }
}

.top__img {
  width: 100%;
  max-height: 387px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .top__img {
    display: none;
  }
}

.top__img_mobile {
  display: none;
}

@media (max-width: 767px) {
  .top__img_mobile {
    display: block;
    max-width: 100%;
  }
}

.about {
  background-color: #f6f6f6;
  padding: 120px 0 110px 0;
  text-align: center;
}

@media (max-width: 1025px) {
  .about {
    padding: 11.71875% 0 10.74219% 0;
  }
}

@media (max-width: 767px) {
  .about {
    padding: 81px 0 76px;
  }
}

.about__title {
  line-height: 42px;
  margin: 0 0 30px 0;
}

@media (max-width: 1025px) {
  .about__title {
    margin: 0 0 3.1746% 0;
  }
}

@media (max-width: 767px) {
  .about__title {
    margin: 0 0 40px 0;
  }
}

.about__text {
  line-height: 22px;
  max-width: 485px;
  margin: 0 auto;
}

.about__text p {
  margin: 0 0 40px 0;
}

.about__text p:last-child {
  margin: 0;
}

@media (max-width: 1025px) {
  .about__text p {
    margin: 0 0 8.24742% 0;
  }
}

@media (max-width: 767px) {
  .about__text p {
    margin: 0 0 40px 0;
  }
}

.skills {
  padding: 90px 0 110px 0;
  text-align: center;
}

@media (max-width: 1025px) {
  .skills {
    padding: 8.78906% 0 10.74219% 0;
  }
}

@media (max-width: 767px) {
  .skills {
    padding: 83px 0 99px 0;
  }
}

.skills__title {
  margin: 0 0 70px 0;
}

@media (max-width: 1025px) {
  .skills__title {
    margin: 0 0 7.40741% 0;
  }
}

@media (max-width: 767px) {
  .skills__title {
    margin: 0 0 50px 0;
  }
}

.skills__subtitle {
  margin: 0 0 85px 0;
}

@media (max-width: 1025px) {
  .skills__subtitle {
    margin: 0 0 8.99471% 0;
  }
}

@media (max-width: 767px) {
  .skills__subtitle {
    margin: 0 0 70px 0;
  }
}

.skills__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .skills__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.skills__col {
  width: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1025px) {
  .skills__col {
    width: 17.56614%;
  }
}

@media (max-width: 767px) {
  .skills__col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 167px;
    margin: 0 0 80px 0;
  }
  .skills__col:last-child {
    margin: 0;
  }
}

.skills__logo {
  margin: 0 0 25px 0;
  height: 53.01205%;
}

@media (max-width: 1025px) {
  .skills__logo {
    margin: 0 0 15.06024% 0;
  }
}

.skills__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  margin: 0 0 40px 0;
}

@media (max-width: 1025px) {
  .skills__name {
    margin: 0 0 24.09639% 0;
  }
}

.skills__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__star {
  background: url(../img/Icons/stars/Starnotactive.svg);
  position: relative;
  height: 20px;
  width: 22px;
}

.skills__star_active {
  background: url(../img/Icons/stars/Star.svg);
  position: relative;
  height: 20px;
  width: 22px;
}

.portfolio {
  padding: 115px 0 100px 0;
  text-align: center;
  background-color: #f6f6f6;
}

@media (max-width: 1025px) {
  .portfolio {
    padding: 11.23047% 0 9.76562% 0;
  }
}

@media (max-width: 767px) {
  .portfolio {
    margin: 80px 0 80px 0;
  }
}

.portfolio__title {
  margin: 0 0 60px 0;
}

@media (max-width: 1025px) {
  .portfolio__title {
    margin: 0 0 6.34921% 0;
  }
}

@media (max-width: 767px) {
  .portfolio__title {
    margin: 0 0 70px 0;
  }
}

.portfolio__object {
  margin: 0 0 100px 0;
}

@media (max-width: 1025px) {
  .portfolio__object {
    margin: 0 0 10.58201% 0;
  }
}

@media (max-width: 767px) {
  .portfolio__object {
    margin: 0 0 77px 0;
  }
}

.portfolio__img {
  width: 100%;
  margin: 0 0 45px 0;
}

@media (max-width: 1025px) {
  .portfolio__img {
    margin: 0 0 4.7619% 0;
  }
}

@media (max-width: 767px) {
  .portfolio__img {
    margin: 0 0 35px 0;
  }
}

.portfolio__link {
  color: #070707;
  text-decoration: underline;
  font-size: 18px;
  line-height: 22px;
}

.contacts {
  padding: 115px 0 125px 0;
  text-align: center;
}

@media (max-width: 1025px) {
  .contacts {
    padding: 11.23047% 0 12.20703% 0;
  }
}

@media (max-width: 767px) {
  .contacts {
    padding: 80px 0 100px 0;
  }
}

.contacts__title {
  margin: 0 0 40px 0;
}

@media (max-width: 1025px) {
  .contacts__title {
    margin: 0 0 4.2328% 0;
  }
}

@media (max-width: 767px) {
  .contacts__title {
    margin: 0 0 35px 0;
  }
}

.contacts__text {
  margin: 0 0 40px 0;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 1025px) {
  .contacts__text {
    margin: 0 0 4.2328% 0;
  }
}

@media (max-width: 767px) {
  .contacts__text {
    margin: 0 0 45px 0;
  }
}

.contacts__btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #070707;
  color: #ffffff;
  border-radius: 26px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 85px 0;
}

@media (max-width: 1025px) {
  .contacts__btn {
    margin: 0 0 8.99471% 0;
  }
}

@media (max-width: 767px) {
  .contacts__btn {
    display: block;
    margin: 0 0 48px 0;
  }
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 345px;
  margin: 0 auto 45px;
}

@media (max-width: 1025px) {
  .contacts__row {
    margin: 0 auto 4.7619%;
  }
}

@media (max-width: 767px) {
  .contacts__row {
    margin: 0 0 45px 0;
  }
}

.contacts__liketext {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
/*# sourceMappingURL=style.css.map */