// Обнуление ==============================================
@import "nullstyle";

// Шрифт ==================================================
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.eot");
    src: local("☺"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"),
        url("../fonts/Gilroy-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.eot");
    src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"),
        url("../fonts/Gilroy-Medium.svg") format("svg");
    font-weight: 500;
    font-style: normal;
}
// Переменные =============================================
$bg1: #ffffff;
$bg2: #f6f6f6;
$color1: #070707;
$color2: #828282;
// Шаблоны ================================================

// Миксины ================================================

// Основные стили =========================================

body {
    font-family: "Gilroy";
    background-color: $bg1;
    font-size: 18px;
    @media (max-width: 767px) {
        &.lock {
            overflow: hidden;
        }

    }
}
a {
    color: $color2;
    &:active {
        position: relative;
        top: 1px;
    }
}
h1 {
    font-size: 47px;
    font-weight: bold;
    display: table-caption;
}
h2 {
    font-size: 34px;
    line-height: 42px;
    font-weight: bold;
}

.wrapper {
    overflow: hidden;
}

.conteiner {
    max-width: 985px;
    padding: 0 20px;
    margin: 0 auto;
    @media (max-width: 767px) {
        max-width: 316px;
    }
}

.lang {
    font-size: 16px;
    line-height: 20px;
    position: relative;
    bottom: 8px;
    span {
        font-weight: bold;
    }
    &__ru {
        &_active {
            font-weight: bold;
            color: $color1;
        }
    }
    &__eng {
        &_active {
            font-weight: bold;
            color: $color1;
        }
    }
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $bg1;
    @media (max-width: 1025px) {
        
    }
    @media (max-width: 767px) {

    }
    &__burger {
        display: none;
        @media (max-width: 767px) {
            display: block;
            position: absolute;
            top: 68px;
            right: 30px;
            width: 33px;
            height: 20px;
            z-index: 2;
            &:after, &:before {
                content: "";
                position: absolute;
                width: 100%;
                left: 0;
                height: 4px;
                background-color: $color1;
            }
            &::after {
                top: 0;
                transition: all 0.3s ease 0s;
            }
            &::before {
                bottom: 0;
                transition: all 0.3s ease 0s;
            }
            span {
                content: "";
                position: absolute;
                width: 100%;
                left: 0;
                top: 8px;
                height: 4px;
                background-color: $color1;
                transition: all 0.3s ease 0s;
            }
            &_active {
                &::after, &::before{
                    background-color: $color2;
                }
                &::after {
                    transform: rotate(45deg);
                    top: 8px;
                }
                &::before {
                    transform: rotate(-45deg);
                    bottom: 8px;
                }
                span {
                    transform: scale(0);
                    
                }
            }
        }

    }
    &__menu {
        @media (max-width: 767px) {
            padding: 68px 0 0 0;
            background-color: $bg1;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: $bg1;
            right: -100%;
            overflow: auto;
            transition: all 0.3s ease 0s;
            &_active {
                right: 0;
            }
        }

    }
    // .header__menu
    &__list {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 25px 0;
        &:before {
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            bottom: 0px;
            background-color: $color2;
        }
        @media (max-width: 1025px) {
            padding: 25/945 * 100% 0;
        }
        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            padding: 0 28px;
            margin: 0 0 150px 0;
            &::before {
                display: none;
            }

        }
        
    }
    // .header__link
    &__link {
        @media (max-width: 767px) {  
           margin: 0 0 60px 0;
        }
        & a {
            @media (max-width: 767px) {  
                font-size: 34px;
            }
        }
        &_active {
            font-weight: bold;
            a {
                color: $color1;
            }
        }
    }

    // .header__lang
    &__lang {
        display: none;
        @media (max-width: 767px) {  
            display: block;
            text-align: right;
            font-size: 34px;
            padding: 0 28px;
            & a:active {
                position: relative;
                top: 0;
                left: 1px;
            }
        }
            
    }

    // .header__rotate
    &__rotate {
        @media (max-width: 767px) {
            display: inline-block;
            transform: rotateZ(90deg);
            transform-origin: right bottom;
            position: relative;
            right: 28px;
        }
    }

}

.top {
    padding: 60px 0 105px 0;
    @media (max-width: 1025px) {
        padding: 60/1024 * 100% 0 105/1024 * 100% 0;
    }
    @media (max-width: 767px) {
        padding: 50px 0 83px 0;
    }

    // .top__row

    &__row {
        padding: 40px 0 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media (max-width: 1025px) {
            padding: 40/945 * 100% 0 50/945 * 100% 0;
        }
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    }

    // .top__title

    &__title {
        line-height: 59px;
        @media (max-width: 767px) {
            flex: 0 0 100%;
        }
    }

    // .top__subtitle

    &__subtitle {
        line-height: 22px;
        position: relative;
        bottom: 8px;
        @media (max-width: 767px) {
            flex: 0 0 100%;
            margin: 23px 0 0 0;
        }
    }

    // .top__lang
    &__lang {
        transform: rotate(-90deg);
        transform-origin: left bottom;
        position: relative;
        left: 62px;
        & a:active {
            position: relative;
            top: 0;
            right: 1px;
        }
        @media (max-width: 767px) {  
            display: none;
        }
    }

    // .top__img

    &__img {
        width: 100%;
        max-height: 387px;
        display: block;
        margin: 0 auto;
        @media (max-width: 767px) {
            display: none;
        }
        &_mobile {
            display: none;
            @media (max-width: 767px) {
                display: block;
                max-width: 100%;
            }
        }
    }
}

.about {
    background-color: $bg2;
    padding: 120px 0 110px 0;
    text-align: center;
    @media (max-width: 1025px) {
        padding: 120/1024 * 100% 0 110/1024 * 100% 0;
    }
    @media (max-width: 767px) {
        padding: 81px 0 76px;
    }
    // .about__title

    &__title {
        line-height: 42px;
        margin: 0 0 30px 0;
        @media (max-width: 1025px) {
            margin: 0 0 30/945 * 100% 0;
        }
        @media (max-width: 767px) {
            margin: 0 0 40px 0;
        }
    }

    // .about__text

    &__text {
        line-height: 22px;
        max-width: 485px;
        margin: 0 auto;
        p {
            margin: 0 0 40px 0;
            &:last-child {
                margin: 0;
            }
            @media (max-width: 1025px) {
                margin: 0 0 40/485 * 100% 0;
            }
            @media (max-width: 767px) {
                margin: 0 0 40px 0;
            }
        }
    }
}

.skills {
    padding: 90px 0 110px 0;
    text-align: center;
    @media (max-width: 1025px) {
        padding: 90/1024 * 100% 0 110/1024 * 100% 0;
    }
    @media (max-width: 767px) {
        padding: 83px 0 99px 0;
    }

    // .skills__title

    &__title {
        margin: 0 0 70px 0;
        @media (max-width: 1025px) {
            margin: 0 0 70/945 * 100% 0;
        }
        @media (max-width: 767px) {
            margin: 0 0 50px 0;
        }
    }

    // .skills__subtitle

    &__subtitle {
        margin: 0 0 85px 0;
        @media (max-width: 1025px) {
            margin: 0 0 85/945 * 100% 0;
        }
        @media (max-width: 767px) {
            margin: 0 0 70px 0;
        }
    }

    // .skills__row

    &__row {
        display: flex;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }

    // .skills__col

    &__col {
        width: 166px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 1025px) {
            width: 166/945 * 100%;
        }
        @media (max-width: 767px) {
            flex-direction: column;
            width: 167px;
            margin: 0 0 80px 0;
            &:last-child {
                margin: 0;
            }
        }
    }

    // .skills__logo

    &__logo {
        margin: 0 0 25px 0;
        height: 88/166 * 100%;
        @media (max-width: 1025px) {
            margin: 0 0 25/166 * 100% 0;
        }
    }

    // .skills__name

    &__name {
        flex: 1 1 auto;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: $color2;
        margin: 0 0 40px 0;
        @media (max-width: 1025px) {
            margin: 0 0 40/166 * 100% 0;
        }
    }

    // .skills__rate

    &__rate {
        display: flex;
        justify-content: space-between;
    }

    // .skills__star

    &__star {
        background: url(../img/Icons/stars/Starnotactive.svg);
        position: relative;
        height: 20px;
        width: 22px;

        // .skills__star_active

        &_active {
            background: url(../img/Icons/stars/Star.svg);
            position: relative;
            height: 20px;
            width: 22px;
        }
    }
}

.portfolio {
    padding: 115px 0 100px 0;
    text-align: center;
    background-color: $bg2;
    @media (max-width: 1025px) {
        padding: 115/1024 * 100% 0 100/1024 * 100% 0;
    }
    @media (max-width: 767px) {
        margin: 80px 0 80px 0;
    }

    // .portfolio__title

    &__title {
        margin: 0 0 60px 0;
        @media (max-width: 1025px) {
            margin: 0 0 60/945 * 100% 0;
        }
        @media (max-width: 767px) {
            margin: 0 0 70px 0;
        }
    }

    // .portfolio__object

    &__object {
        margin: 0 0 100px 0;
        @media (max-width: 1025px) {
            margin: 0 0 100/945 * 100% 0;
        }
        @media (max-width: 767px) {
            margin: 0 0 77px 0;
        }
    }

    // .portfolio__img

    &__img {
        width: 100%;
        margin: 0 0 45px 0;
        @media (max-width: 1025px) {
            margin: 0 0 45/945 * 100% 0;
        }
        @media (max-width: 767px) {
            margin: 0 0 35px 0;
        }
    }

    // .portfolio__link

    &__link {
        color: $color1;
        text-decoration: underline;
        font-size: 18px;
        line-height: 22px;
    }
}

.contacts {
    padding: 115px 0 125px 0;
    text-align: center;
    @media (max-width: 1025px) {
        padding: 115/1024 * 100% 0 125/1024 * 100% 0;
    }
    @media (max-width: 767px) {
        padding: 80px 0 100px 0;
    }

    // .contacts__title

    &__title {
        margin: 0 0 40px 0;
        @media (max-width: 1025px) {
            margin: 0 0 40/945 * 100% 0;
        }
        @media (max-width: 767px) {
            margin: 0 0 35px 0;
        }
    }

    // .contacts__text

    &__text {
        margin: 0 0 40px 0;
        font-size: 18px;
        line-height: 22px;
        @media (max-width: 1025px) {
            margin: 0 0 40/945 * 100% 0;
        }
        @media (max-width: 767px) {
            margin: 0 0 45px 0;
        }
    }

    // .contacts__btn

    &__btn {
        display: inline-block;
        padding: 15px 30px;
        background-color: $color1;
        color: $bg1;
        border-radius: 26px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 85px 0;
        @media (max-width: 1025px) {
            margin: 0 0 85/945 * 100% 0;
        }
        @media (max-width: 767px) {
            display: block;
            margin: 0 0 48px 0;
        }
    }

    // .contacts__row

    &__row {
        display: flex;
        justify-content: space-between;
        max-width: 345px;
        margin: 0 auto 45px;
        @media (max-width: 1025px) {
            margin: 0 auto 45/945 * 100%;
        }
        @media (max-width: 767px) {
            margin: 0 0 45px 0;
        }
    }

    // .contacts__social

    &__social {
    }

    // .contacts__icon

    &__icon {
    }

    // .contacts__liketext

    &__liketext {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $color2;
    }
}

//=========================================================
